@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #1E3A5F;
  --primary-light: #84a0c5;
  --primary-dark: #00072c;
  --secondary: #374151;
  --accent: #B45309;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: system-ui, -apple-system, sans-serif;
}
